<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbs.example.article.ArticleMapper">  
  <select id="getArticles" resultType="com.sbs.example.article.Article">
    select * 
    from article
  </select>
  
  <select id="getArticleById" parameterType="int" resultType="com.sbs.example.article.Article">
    select * 
    from article
    where id = #{id}
  </select>
  
  <insert id="insertArticle" parameterType="com.sbs.example.article.Article">
  	INSERT INTO article 
  	SET title = #{title},
  	body = #{body},
  	boardId = 1,
  	memberId = 1,
  	writer = '',
  	passwd = '',
  	hit = 0,
  	regDate = now()  	 
  </insert>
  
  <delete id="deleteArticleById" parameterType="int">
  	DELETE FROM article 
  	WHERE id = #{id}
  </delete>
  
  <update id="updateArticle" parameterType="com.sbs.example.article.Article">
  	UPDATE article 
  	SET title = #{title},
  	body = #{body}
  	WHERE id = #{id}
  </update>
  
  <select id="getRepliesByArticleId" parameterType="int" resultType="com.sbs.example.article.Reply">
  	SELECT a.*, m.nickname 
	FROM articleReply a
	INNER JOIN `member` m
	ON a.memberId = m.id 
	WHERE a.articleId = #{id}
  </select>
  
  <insert id="insertReply" parameterType="com.sbs.example.article.Reply">
  	INSERT INTO articleReply
  	SET regDate = NOW(),
  	body = #{body},
  	boardId=1,
  	articleId = #{articleId},
  	memberId = #{memberId},
  	writer = '',
  	passwd = ''  	
  </insert>

</mapper>